In [2]:
a=10
b=20
a
b

20

In [3]:
a=10
b=20
print(a)
print(b)

10
20

In [4]:
print(10)
print(20)

10
20

In [5]:
print(10),print(20)

10
20

(None, None)

In [6]:
10,20

(10, 20)

In [7]:
print(a,b)

10 20

In [7]:
print(30,'Nareshit','Hyd')
# 3 values

30 Nareshit Hyd

In [14]:
num1=1000
num2=200
add=num1+num2
# the addition of 100 and 200 is 300
print("the addition of 100 and 200 is 300")
print("the addition of num1 and num2 is 300")
print("the addition of",num1,"and",num2,"is",add)

the addition of 100 and 200 is 300
the addition of num1 and num2 is 300
the addition of 1000 and 200 is 1200

In [10]:
name="python"
age=10
city="hyd"
# my name is python im 10 years old and came from hyd
print("my name is python im 10 years old and came from hyd")
print("my name is name im age years old and came from city")
print("my name is",name,"im",age,"years old and came from",city)

my name is python im 10 years old and came from hyd
my name is name im age years old and came from city
my name is python im 10 years old and came from hyd

**Formate**

In [14]:
name="python"
age=10
city="hyd"
print("my name is {} im {} years old and came from {}".format(name,age,city))

my name is python im 10 years old and came from hyd

In [ ]:
name="python"
age=10
city="hyd"
print("my name is {} im {} years old and came from {}".format(city,age,name))

In [13]:
num1=1000
num2=200
add=num1+num2
# the addition of 100 and 200 is 300
print("the addition of 100 and 200 is 300")
print("the addition of {} and {} is {}".format(num1,num2,add))

the addition of 100 and 200 is 300
the addition of 1000 and 200 is 1200

In [ ]:
# wap take two numbers performs the
# subtraction
# multiplication
# division
# print the statement as follows

# the subtraction of 100 and 200 is -100
# the multiplication of 100 and 200 is 20000
# the division of 100 and 200 is 0.5

In [ ]:
# wap take three number performs the average
# a,b,c
# avg = (a+b+c)/3
# print the statement 
# the avg of a,b,c is : avg

**mistake-1**

In [15]:
num1=100
num2=200
print(sub=num1-num2)
# print is used for to see the output

TypeError: 'sub' is an invalid keyword argument for print()

**mistake-2**

In [19]:
num1=100
num2=200
sub=num1-num2
print("the subtraction of num1 and num2 is sub.format")

-100

In [20]:
num1=100
num2=200
sub=num1-num2
print("the subtraction of num1 and num2 is sub")
print("the subtraction of {} and {} is {}".format(num1,num2,sub))

the subtraction of num1 and num2 is sub
the subtraction of 100 and 200 is -100

In [21]:
num1=100
num2=200
mul=num1*num2
print("the multiplication of num1 and num2 is mul")
print("the multiplication of {} and {} is {}".format(num1,num2,mul))

the multiplication of num1 and num2 is mul
the multiplication of 100 and 200 is 20000

In [22]:
num1=100
num2=200
div=num1/num2
print("the division of num1 and num2 is div")
print("the division of {} and {} is {}".format(num1,num2,div))

the division of num1 and num2 is div
the division of 100 and 200 is 0.5

In [24]:
a=10
b=20
c=30
avg=(a+b+c)/3
print("the average of a,b,c is : avg")
print("the average of {},{},{} is : {}".format(a,b,c,avg))

the average of a,b,c is : avg
the average of 10,20,30 is : 20.0

In [35]:
print("==============================ADDITION==============================")
num1=100
num2=200
add=num1+num2
# the addition of 100 and 200 is 300 
print("the addition of 100 and 200 is 300")
print("the addition of {} and {} is {}".format(num1,num2,add))

print("==============================SUBTRACTION==============================")

num1=100
num2=200
sub=num1-num2
# the subtraction of 100 and 200 is -100
print("the subtraction of 100 and 200 is -100")
print("the subtraction of {} and {} is {}".format(num1,num2,sub))

print("==============================MULTIPLICATION==============================")

num1=100
num2=200
mul=num1*num2
# the multiplication of 100 and 200 is 2000
print("the multiplication of 100 and 200 is 2000")
print("the multiplication of {} and {} is {}".format(num1,num2,mul))

print("==============================DIVISION==============================")

num1=100
num2=200
div=num1/num2
# the division of 100 and 200 is 0.5
print("the division of 100 and 200 is 0.5")
print("the division of {} and {} is {}".format(num1,num2,div))

print("==============================AVERAGE==============================")

a=10
b=20
c=30
avg=(a+b+c)/3
# the average of 10,20,30 is 20
print("the average of 10,20,30 is 20")
print("the average of {} and {} is {}".format(num1,num2,avg))

==============================ADDITION==============================
the addition of 100 and 200 is 300
the addition of 100 and 200 is 300
==============================SUBTRACTION==============================
the subtraction of 100 and 200 is -100
the subtraction of 100 and 200 is -100
==============================MULTIPLICATION==============================
the multiplication of 100 and 200 is 2000
the multiplication of 100 and 200 is 20000
==============================DIVISION==============================
the division of 100 and 200 is 0.5
the division of 100 and 200 is 0.5
==============================AVERAGE==============================
the average of 10,20,30 is 20
the average of 100 and 200 is 20.0

**f string: formatted string method**

In [26]:
num1=100
num2=200
add=num1+num2
print("the addition of 100 and 200 is 300")
print("the addition of {} and {} is {}".format(num1,num2,add))
print(f"the addition of {num1} and {num2} is {add}")

the addition of 100 and 200 is 300
the addition of 100 and 200 is 300
the addition of 100 and 200 is 300

In [28]:
num1=100
num2=200
sub=num1-num2
print("the substraction of 100 and 200 is -100")
print("the substraction of {} and {} is {}".format(num1,num2,sub))
print(f"the substraction of {num1} and {num2} is {sub}")

the substraction of 100 and 200 is -100
the substraction of 100 and 200 is -100
the substraction of 100 and 200 is -100

In [31]:
num1=100
num2=200
mul=num1*num2
print("the multiplication of 100 and 200 is 2000")
print("the multiplication of {} and {} is {}".format(num1,num2,mul))
print(f"the multiplication of {num1} and {num2} is {mul}")

the multiplication of 100 and 200 is 2000
the multiplication of 100 and 200 is 20000
the multiplication of 100 and 200 is 20000

In [32]:
num1=100
num2=200
div=num1/num2
print("the division of 100 and 200 is 0.5")
print("the division of {} and {} is {}".format(num1,num2,div))
print(f"the division of {num1} and {num2} is {div}")

the division of 100 and 200 is 0.5
the division of 100 and 200 is 0.5
the division of 100 and 200 is 0.5

In [36]:
a=10
b=20
c=30
avg=(a+b+c)/3
print("the average of 10,20,30 is 20")
print("the average of {},{},{} is {}".format(a,b,c,avg))
print(f"the average of {a},{b},{c} is {avg}")

the average of 10,20,30 is 20
the average of 10,20,30 is 20.0
the average of 10,20,30 is 20.0

In [37]:
print("==============================ADDITION==============================")
num1=100
num2=200
add=num1+num2
# the addition of 100 and 200 is 300 
print("the addition of 100 and 200 is 300")
print("the addition of {} and {} is {}".format(num1,num2,add))
print(f"the addition of {num1} and {num2} is {add}")

print("==============================SUBTRACTION==============================")

num1=100
num2=200
sub=num1-num2
# the subtraction of 100 and 200 is -100
print("the subtraction of 100 and 200 is -100")
print("the subtraction of {} and {} is {}".format(num1,num2,sub))
print(f"the subtraction of {num1} and {num2} is {sub}")

print("==============================MULTIPLICATION==============================")

num1=100
num2=200
mul=num1*num2
# the multiplication of 100 and 200 is 2000
print("the multiplication of 100 and 200 is 2000")
print("the multiplication of {} and {} is {}".format(num1,num2,mul))
print(f"the multiplication of {num1} and {num2} is {mul}")

print("==============================DIVISION==============================")

num1=100
num2=200
div=num1/num2
# the division of 100 and 200 is 0.5
print("the division of 100 and 200 is 0.5")
print("the division of {} and {} is {}".format(num1,num2,div))
print(f"the division of {num1} and {num2} is {div}")

print("==============================AVERAGE==============================")

a=10
b=20
c=30
avg=(a+b+c)/3
# the average of 10,20,30 is 20
print("the average of 10,20,30 is 20")
print("the average of {},{},{} is {}".format(a,b,c,avg))
print(f"the average of {a},{b},{c}is {avg}")

==============================ADDITION==============================
the addition of 100 and 200 is 300
the addition of 100 and 200 is 300
the addition of 100 and 200 is 300
==============================SUBTRACTION==============================
the subtraction of 100 and 200 is -100
the subtraction of 100 and 200 is -100
the subtraction of 100 and 200 is -100
==============================MULTIPLICATION==============================
the multiplication of 100 and 200 is 2000
the multiplication of 100 and 200 is 20000
the multiplication of 100 and 200 is 20000
==============================DIVISION==============================
the division of 100 and 200 is 0.5
the division of 100 and 200 is 0.5
the division of 100 and 200 is 0.5
==============================AVERAGE==============================
the average of 10,20,30 is 20
the average of 10,20,30 is 20.0
the average of 10,20,30is 20.0

In [38]:
a=11
b=20
c=30
avg=(a+b+c)/3
print(avg)

20.333333333333332

**round**

In [ ]:
# print()
# type()
# int()
# float()
# str()
# bool()
# round()

#CTRL+A
#CTRL+/

In [39]:
round(10.77777)  # 10.7 ===> 11

11

In [40]:
round(10.77777,2)

10.78

In [41]:
round(10.77777,3)

10.778

In [21]:
print(round(10.77777))
print(round(10.77777,2))
print(round(10.77777,3))

11
10.78
10.778

In [42]:
a=11
b=20
c=30
avg=(a+b+c)/3
avg1=round(avg,2)
print(avg1)
print(round(avg,2))

20.33
20.33

In [43]:
round(10.778,2)

10.78

**I have multiple print statements but i want to show in single line**

In [44]:
print(10)
print(20)

10
20

In [45]:
10,20

(10, 20)

In [46]:
print(10,20)

10 20

**end**

In [49]:
print(10,end="====>")
print(20)

10====>20

In [50]:
print(10,end=" ")
print(20,end=" ")
print(30)

10 20 30

In [51]:
print("hello",end=" ")
print("how",end=" ")
print("are",end=" ")
print("you")

hello how are you

**I have multiple values in a single print statement**

**I want print them with some seperation**

In [54]:
print(10,20,30)
# 10 ===> 20 ===>30

10 20 30

**sep**

In [26]:
print(10,20,30,sep='====>')

10====>20====>30

- basic print statement

- we learn format method

- we learn f string method

- we learn round

- we learn end operator

- we learn sep operator

In [ ]:
# wap take the radius of a circle calculate area of the circle
# var1 : radius  var2 : pi=3.14
# formula : pi*radius*radius
# print the answers using f string and format

# wap take the breadth and height of a right angle triangle
# calculate the area
# var1 : breadth  var2 : height
# formula : 0.5*breadth*height

# wap take the bill amount and tip amount
# calculate total bill
# var1 : bill amount  var2 : tip amount
# formula:

# wap take the length and breadth of a rectangle calculate area 
# var1 : length  var2 : breadth
# formula : length*breadth