========================= Basic python =========================

- Variable

- Data types

- Type conversion

- Print

- eval and input

- Basic codes

- Packages

- conditional statements 

- try and except

- functions

- for loop

- while loop

========================= Intermediate Python =========================

- Strings

- Lists

- List comprehension

- Tuple ====== > You should

- Sets  ====== > You should

- Dictionary

- Lambda functions

- File handling

========================== OOPS Concepts =========================

- Basic representations

- Inbuilt functions

    - print

    - type

    - len

    - sum

    - max

    - min

    - sorted

    - reversed

- concatenation

- indexing

- mutable or immutable concept

- slice

- methods

**Basic Representation**

In [1]:
name='python'
name

'python'

In [2]:
print(name)

python

In [3]:
name="python"
name

'python'

- python by default gives output in **single quotes**

- when we print the string the output display **without quotes**

In [1]:
str1="I love 'python'"
print(str1)

I love 'python'

In [2]:
str2='I love "python"'
print(str2)

I love "python"

**Doc string**

- triple quotes also called as doc string

- triple quotes means the user try to convey some information

**type**

In [3]:
name='python'
type(name)

str

In [ ]:
print(<>)
type(<>)
eval(<>)
input()
len()
sum()
max()

**len**

In [11]:
name='python'
len(name)

6

In [12]:
len('hai how are you')

15

**max**

In [4]:
max('pyhon')

'y'

In [5]:
for i in 'python':
    print(ord(i),i)

112 p
121 y
116 t
104 h
111 o
110 n

**min**

In [6]:
min('python')

'h'

**sum**

In [7]:
sum('python')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**sorted**

- sorted means either ascending or descending order

- ascending order : Small to Big

- descending : Big to small

In [8]:
sorted('python')
# By default ascending
# can i change the order?

['h', 'n', 'o', 'p', 't', 'y']

**iterable** : Anything that can be print using loop

/

In [9]:
def add(a,b):
    print(a+b)
add(10,20)      ########## Works

30

In [10]:
def add(a,b):
    print(a+b)
add(a=10,b=20)  ########## Works

30

In [12]:
def add(a,/,b):
    print(a+b)
add(a=10,b=20)    /

TypeError: add() got some positional-only arguments passed as keyword arguments: 'a'

In [13]:
def add(a,/,b):
    print(a+b)
add(10,b=20)

30

In [14]:
def add(a,/,b):
    print(a+b)
add(a=10,20)

SyntaxError: positional argument follows keyword argument (3787002837.py, line 3)

In [ ]:
a,/,b
a=10 b=10  === fail
a=10 30    === fail
10   b=30  === pass

In [ ]:
def add(a,b):
    print(a+b)
add(10,20)      ########## Works  

def add(a,b):
    print(a+b)
add(a=10,b=20)  ########## Works    

def add(a,/,b):
    print(a+b)
add(a=10,b=20)  ########## F F  / a=10  b=20 

def add(a,/,b):
    print(a+b)
add(10,b=20)  ##########  Pass   b=20

def add(a,/,b):
    print(a+b)
add(a=10,20)    ===== slash before not working

In [ ]:
(a,/,b)
a=10  b=20  ====== > F
a=10  20    ====== > F
10    20    ====== > W
10    b=20  ====== > W

In [13]:
sorted(iterable='python')

TypeError: sorted expected 1 argument, got 0

**Note:**

- / before dont use argument name

- / after you can use argument name, that is our wish

- (*) indication no need maintain the order of the arguments

In [16]:
def add(a,/,*,b,c):
    print(a+b+c)

add(10,c=20,b=30)

60

In [17]:
add(10,c=20)

TypeError: add() missing 1 required keyword-only argument: 'b'

In [18]:
add(10,20)

TypeError: add() takes 1 positional argument but 2 were given

In [19]:
def add(a,/,*,b,c):
    print(a+b+c)

add(10,20,30)

TypeError: add() takes 1 positional argument but 3 were given

**Note**

(*) indicates provide the argument name

In [21]:
sorted('python',True)

# / before dont use ==== correct
# * after you should use === wrong

TypeError: sorted expected 1 argument, got 2

In [22]:
sorted('python',reverse=True)

['y', 't', 'p', 'o', 'n', 'h']

In [ ]:
sorted('python')  # W  by default reverse=False
sorted(iterable='python')  # F
sorted('python',reverse=True)  # W
sorted(iterable='python',reverse=True) # F
sorted('python',True)  # F

**reversed**

In [23]:
reversed(sequence='Afroze')

TypeError: reversed() takes no keyword arguments

In [25]:
ans=reversed('Afroze')
ans

- Answer saved at address memory location

- We can see the answer by using by for loop or list

- Whenever we see less than greater than symbol answer

- try to apply for loop or list

In [26]:
for i in ans:
    print(i)

e
z
o
r
f
A

In [27]:
ans=reversed('Afroze')
list(ans)

['e', 'z', 'o', 'r', 'f', 'A']

**Concatenation**

In [28]:
str1='hello'
str2='pthon'
str1+str2

'hellopthon'

In [ ]:
str1-str2  # see the error
str1*str2  # see the error
str1/str2  # see the error

In [29]:
str1-str2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [30]:
str1*str2

TypeError: can't multiply sequence by non-int of type 'str'

In [31]:
str1/str2

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
str1-str2
TypeError: unsupported operand type(s) for -: 'str' and 'str'

str1*str2
TypeError: can't multiply sequence by non-int of type 'str'

str1/str2
TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [33]:
str1(sequence)*3
'python'*3

'pythonpythonpython'

In [34]:
str1='hello '
str2='python'
str1+str2

'hello python'

In [35]:
str1='hello '
str2=' python'
str1+str2

'hello  python'

In [36]:
str1='hello '
str2='python'
str1+' '+str2

'hello  python'

**index**

In [1]:
str1='python'
str1

'python'

In [3]:
-6 -5 -4 -3 -2 -1
 p  y  t  h  o  n
 0  1  2  3  4  5

- access the characters or elements use square bracket

In [4]:
str1[0],str1[-6]
str1[1],str1[-5]
str1[2],str1[-4]
str1[3],str1[-3]
str1[4],str1[-2]
str1[5],str1[-1]

('n', 'n')

In [ ]:
str1[0]
str1[1]
str1[2]
str1[3]
str1[4]
str1[5]

str1[i]

In [2]:
str1='python'
n=len(str1)
for i in range(0,n):
    print(str1[i])

p
y
t
h
o
n

In [6]:
str1='hello how are you'
n=len(str1)
for i in range(0,n):
    print(str1[i])

h
e
l
l
o

h
o
w

a
r
e

y
o
u

In [1]:
first you need to print the numbers

#-6 -5 -4 -3 -2 -1
#p  y  t  h  o  n
#0  1  2  3  4  5

for i in range(0,6):print(i,end=' ')
for i in range(-6,0):print(i,end=' ')

0 1 2 3 4 5 -6 -5 -4 -3 -2 -1

In [12]:
# Q1) the positive index of p is 0
# the positive index of y is 1
# the positive index of t is 2


str1='python'
n=len(str1)
for i in range(0,n):
    print(f'The positive index of {str1[i]} is: {i}')

The positive index of p is: 0
The positive index of y is: 1
The positive index of t is: 2
The positive index of h is: 3
The positive index of o is: 4
The positive index of n is: 5

In [13]:
# Q2) the negative index of p is -6
# the negative index of y is -5
# the negative index of t is -4


str1='python'
n=len(str1)
for i in range(-6,0):
    print(f'The negative index of {str1[i]} is: {i}')

The negative index of p is: -6
The negative index of y is: -5
The negative index of t is: -4
The negative index of h is: -3
The negative index of o is: -2
The negative index of n is: -1

In [ ]:
for i in range(0,6)  # positive index
for i in range(-6,0) # negative index

In [1]:
# Q3) the positive index is 0 and negative index is -6 for p


str1='python'
n=len(str1)
for i in range(0,n):
    print(f'The positive index is {i} ,negative index is {i-n} for: {str1[i]}')

The positive index is 0 ,negative index is -6 for: p
The positive index is 1 ,negative index is -5 for: y
The positive index is 2 ,negative index is -4 for: t
The positive index is 3 ,negative index is -3 for: h
The positive index is 4 ,negative index is -2 for: o
The positive index is 5 ,negative index is -1 for: n

**when to use in - when to use range operator**

- **in** operator directly access the elements

- **range** operator access the elements using index or numbers

- any problem statement if you need numbers then go for range

- otherwise go for in operator directly

In [3]:
str1='python'
for i in str1:
    print(i)

p
y
t
h
o
n

In [5]:
for i in range(0,6):
    print(i,str1[i])

0 p
1 y
2 t
3 h
4 o
5 n

In [4]:
# Q4) write a program to find the indexes of 'a' in a given string
#     str1='ola ola ola'


str1='ola ola ola'
for i in range(len(str1)):
    if str1[i]=='a':
        print(f"The index of 'a' is: {i}")

The index of 'a' is: 2
The index of 'a' is: 6
The index of 'a' is: 10

In [7]:
# Q5) write a program to find the indexes of 'a' in a given string
#     str1='ola ola ola'


str1='ola ola ola'
summ=0
count=0
for i in range(len(str1)):
    if str1[i]=='a':
        print(i)
        summ=summ+i
        count=count+1
print(f"The number of 'a' are: {count}")        
print(f"The sum of all indexex of 'a' is: {summ}")

2
6
10
The number of 'a' are: 3
The sum of all indexex of 'a' is: 18

In [8]:
# Q6) write a program to find the indexes of 'a' in a given string
#     str1='ola ola ola'
# in this problem we are counting number of 'a'
# we are not using index


str1='ola ola ola'
count=0
for i in str1:
    if i=='a':
        count=count+1
print(f"The number of 'a' in a given string is: {count}")

The number of 'a' in a given string is: 3

In [9]:
# Q7) write a program to find the vowels and its count in a given string
#     str1='hai how are you'

str1='hai how are you'
str2='aeiou'
count=0
for i in str1:
    if i in str2:
        print(i)
        count=count+1
print(count)

a
i
o
a
e
o
u
7

In [10]:
# Q8) write a program to find the vowels which are repeating then print only one time
#     example: helleo
#     e is coming two times but we want to print only one time


str1='aaae'
str2=''
for i in str1:
    if i in 'aeiou' and i not in str2:
        print(i)
        str2=str2+i

# i=a if a in aeiou then print a
# i=a say i already seen

a
e

**mutable-immutable**


- mutable means change

- immutable means can not change

- we can not change the elements using index operations

In [11]:
str1='hello'
str1[2]='L'

TypeError: 'str' object does not support item assignment

In [12]:
l=[10,20,30]
l[1]=200
l

[10, 200, 30]

**slice**

- slice means cut into pieces

- it has similar analogy with for loop range

- in the for loop range we have start,stop,step

- range(start,stop,step) str[start:stop:step]

In [ ]:
-17  -16  -15  -14  -13  -12  -11  -10  -9  -8  -7  -6  -5  -4  -3  -2  -1
  h    e    l    l    o         h    o   w       a   r   e       y   o   u
  0    1    2    3    4    5    6    7   8   9  10  11  12  13  14  15  16

$case-1$

**str[:stop]**

- by default start=0

- last=stop-1

- by default step = postive direction 1

In [5]:
str1='hello how are you'
str1[:5]
# start=0  stop=5-1=4  step=1

'hello'

$case-2$

**str[start:]**

- by default start = start value

- last = last index

- by default step = postive direction 1

In [6]:
str1[-3:]

'you'

$case-3$

**str[start:stop]**

- by default start = start value

last=stop-1

- by default step = postive direction 1

In [7]:
# -17  -16  -15  -14  -13  -12  -11  -10  -9  -8  -7  -6  -5  -4  -3  -2  -1
#   h    e    l    l    o         h    o   w       a   r   e       y   o   u
#   0    1    2    3    4    5    6    7   8   9  10  11  12  13  14  15  16

str1[10:15]   #  start=10  last=15-1=14  direction positive

'are y'

In [8]:
str1[-15:10]

'llo how '

In [9]:
str1[-10:2]

''

In [10]:
str1[2:-2]

'llo how are y'

In [ ]:
for i in range(2,-2):
    print(i)    #  real line

$case-4$

**str[start:stop:step]**

- by default start = start value

- if step is negaive value

    - last = stop-1

- if step is negative value

    - last = stop+1

In [11]:
# -17  -16  -15  -14  -13  -12  -11  -10  -9  -8  -7  -6  -5  -4  -3  -2  -1
#   h    e    l    l    o         h    o   w       a   r   e       y   o   u
#   0    1    2    3    4    5    6    7   8   9  10  11  12  13  14  15  16

str1[2:15:2]   #  start=2  last=15-1=14  step=2  direction positive

'lohwaey'

In [12]:
str1[2:-5:2]

'lohwa'

In [13]:
str1[15:2:2]

''

In [ ]:
# -17  -16  -15  -14  -13  -12  -11  -10  -9  -8  -7  -6  -5  -4  -3  -2  -1
#   h    e    l    l    o         h    o   w       a   r   e       y   o   u
#   0    1    2    3    4    5    6    7   8   9  10  11  12  13  14  15  16

In [14]:
str1[2:150]

'llo how are you'

In [16]:
str1[:]

'hello how are you'

In [17]:
str1[::]

'hello how are you'

In [18]:
str1[::-1]

'uoy era woh olleh'

In [1]:
num=12345
int(str(num)[::-1])

54321

In [19]:
str1[2:15:4]

'lhay'

## Methods

In [2]:
name='python'
dir(name)   # dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

**upper**

In [8]:
str1='welcome to nareshit'
str1.upper()

'WELCOME TO NARESHIT'

In [20]:
str1='WELCOME to Naresh IT'
str1.lower()

'welcome to naresh it'

In [21]:
str1='WELCOME to Naresh IT'
str1.casefold()

'welcome to naresh it'

In [22]:
str1='welcome to nareshit'
str1.title()

'Welcome To Nareshit'

In [23]:
str1='welcome to nareshit'
str1.capitalize()

'Welcome to nareshit'

**difference between methods and inbuilt functions**

In [ ]:
######################### Inbuilt #########################
len('python')
max()
min()
type()
print()
sum()
###########################################################
str1.upper()
str1.lower()
str1.title()
str1.capitalize()
str1.casefold()

**center**

In [24]:
str1='pythonn'
str1.center(12,'*')


# 2stars + python(7) + 3stars
# 3* + 7 + 2*
# here 12 means the len of string becomes 12 characters
# already 'pythonn' string has 7 characters
# so remaining 5 characters padd as *

'**pythonn***'

In [ ]:
# assume that i already have
# string='***python'

**strip-lstrip-rstrip**


- strip will remove the characters both left and right side

- lstrip will remove the characters on left side

- rstrip will remove the characters on right side

In [28]:
str1=' python '
str2='***python****'
str3='   python****'

In [29]:
str1,str1.strip(),str1.lstrip(),str1.strip()

(' python ', 'python', 'python ', 'python')

In [30]:
print(str1)
print(str1.strip())
print(str1.lstrip())
print(str1.rstrip())

 python
python
python
 python

In [31]:
str2,str2.strip('*'),str2.lstrip('*'),str2.rstrip('*')

('***python****', 'python', 'python****', '***python')

In [32]:
str2.strip()

'***python****'

In [33]:
str3='   python****'
str4=str3.strip()
str4.rstrip('*')

'python'

In [34]:
str3='++++python****'
str3.lstrip('+').rstrip('*')

'python'

**startswith**

In [2]:
str1='hello how are you'
str1.startswith('h')

True

In [2]:
str1.startswith('H')

False

In [3]:
str1.startswith('hello how are you')

True

In [4]:
str1.startswith(str1)

True

In [5]:
str1.endswith('ou')

True

In [7]:
str1.endswith(str1)

True

**count**

In [8]:
str1='ola ola ola'
# in the above string how many 'a' are available
count=0
for i in str1:
    if i=='a':
        count+=1  # count=count+1
print(count)

3

In [10]:
str1='ola ola ola'
count=0
for i in range(len(str1)):
    if str1[i]=='a':
        count+=1   # count=count+1
print(count)

3

$case-1$

In [3]:
str1='ola ola ola'
str1.count('a')

3

In [5]:
str1='ola ola ola'
str1.count('ola ')

2

$case-2$

In [6]:
#   o    l    a         o    l    a        o   l   a
#   0    1    2    3    4    5    6    7   8   9  10  
str1.count('a',4)

2

In [7]:
str1.count('a',7)

1

In [8]:
str1.count('a',4,6)
# start=4  last=stop-1=6-1=5  positive

0

In [9]:
str1.count('a',-1,-10)

0

In [10]:
str1.count('a',-10,-1)

2

In [11]:
str1.count('z')

0

In [31]:
# str1='ola ola ola'
# count the number of substring: 'ola'
# without using count method


str1='ola ola ola'
for i in str1:
    if i=='ola'

**sliding window approach**


- fix the slice value first : **str1[i:i+3]**

- then increase the slice by 1 : **for i in range(len(str1))**

- whenever it is equal to substring : **str1[i:i+3]=='ola'**

- then update the count : **count=count+1**

In [12]:
# str1[i:i+3]=='ola'  logic
# i=0 str1[0:3]=='ola'  True
# i=1 str1[1:3]=='la ' not equal to 'ola' False

str1='ola ola ola ola'
count=0
for i in range(len(str1)):
    if str1[i:i+3]=='ola':
        count=count+1
print(count)

4

In [13]:
str1.count('ola')

4

**replace**

In [15]:
str1='welcome'  # 'welcome'
str1[2]='L'    # error

TypeError: 'str' object does not support item assignment

In [14]:
str1='welcome'
str1.replace('l','L')

'weLcome'

In [16]:
# By default all the occurences
str1='welllcome'
str1.replace('l','L')

'weLLLcome'

In [17]:
# here count=1 which indicates replace only one l
str1='welllcome'
str1.replace('l','L',1)

'weLllcome'

In [18]:
str1.replace('z','Z')
# substring not found
# 'welcome'

'welllcome'

- By default it will replace all the occurences

- The user can provide count which indicates how many letters can replace

- If the substring not found it will return the original string itself

In [21]:
# replace 'r' with '$'
# i want only second 'r'
# 'resta$t'


str1='restart'
str2=str1[0:5]   # 'resta'
str3=str1[5:]    # 'rt'
str4=str3.replace('r','$')
str2+str4

'resta$t'

In [20]:
str1='restart'
str1[::-1].replace('r','$',1)[::-1]

'resta$t'

In [21]:
str1='restart restart'  # third  'r'
str2=str1[0:8]   # 'resta'
str3=str1[8:]    # 'rt'
str4=str3.replace('r','$',1)
str2+str4

'restart $estart'

**index**

In [22]:
str1='restart restart'
str1.index('t'),str1.index('r')
# by default first string index will come

(3, 0)

In [22]:
str1='restart'
str1.index('z')

ValueError: substring not found

In [23]:
str1='restart'
str1.index('r')  # 0
# second 'r' index is 5 this is i counted
# i want to use index

# already one 'r' index is 0
# next 'r' i can find from index 1

0

In [24]:
str1='restart restart'
str1.index('r',1)

5

In [25]:
str1='restart restart'
str1.index('r',6)

8

In [26]:
str1='restart restart'
str1.index('r',9)

13

In [30]:
str1='restart restart'
i1=str1.index('r')       # 0
i2=str1.index('r',i1+1)  # 1=0+1
i3=str1.index('r',i2+1)  # 6=5+1
i4=str1.index('r',i3+1)  # 9=8+1

In [29]:
str1='restart restart'
str1.index('r')     # 0
str1.index('r',1)  # 1=0+1
str1.index('r',6)  # 6=5+1
str1.index('r',9)  # 9=8+1

13

In [23]:
str1='restart restart'
i1=str1.index('r')       # 0
i2=str1.index('r',i1+1)  # 1=0+1
i3=str1.index('r',i2+1)  # 6=5+1
i4=str1.index('r',i3+1)  # 9=8+1
print(i1,i2,i3,i4)

0 5 8 13

**find**


- tell me the difference between index and find

In [ ]:
str1='restart'
str1=count('z')        # 0
str1=replace('z','Z')  # 'restart'
str1=index('z')        # error
str1.find('z')         # -1

In [5]:
str1='virat.kohli@rcb.com'
str2='rohit.sharma@mi.com'
str3='ms.dhoni@csk.com'
# extract the first name from str1: virat
# extract second name from str1: kohli
# extract company name from str1: rcb
str4='a.b@c.com'

# idea: try to get the trigger points
str1='hello how'
str1[0:5]
# step-1: first extract . index
# step-2: extract the @ index
# step-3: extract the second . dot index

In [2]:
str1='hello how'
id1=str1.index('o')
id2=str1.index('o',id1+1)

In [6]:
str1='virat.kohli@rcb.com'
first_dot=str1.index('.')
print(first_dot)
first_name=str1[:first_dot]
print(first_name)
##############################
str2='rohit.sharma@mi.com'
first_dot=str2.index('.')
first_name

5
virat

'virat'

In [8]:
str1='virat.kohli@rcb.com'
first_dot=str1.index('.')
second_dot=str1.index('.',first_dot+1)
at_the_rate=str1.index('@')
print(first_dot,second_dot,at_the_rate)
first_name=str1[:first_dot]
second_name=str1[first_dot+1:at_the_rate]
cname=str1[at_the_rate+1:second_dot]
print(first_name,second_name,cname)

5 15 11
virat kohli rcb

In [9]:
str1[:5],str1[5+1:11],str1[11+1:15]

('virat', 'kohli', 'rcb')

In [10]:
def extract(str1):
    first_dot=str1.index('.')
    second_dot=str1.index('.',first_dot+1)
    at_the_rate=str1.index('@')
    print(first_dot,second_dot,at_the_rate)
    first_name=str1[:first_dot]
    second_name=str1[first_dot+1:at_the_rate]
    cname=str1[at_the_rate+1:second_dot]
    print(first_name,second_name,cname)
extract('a.b@c.com')

1 5 3
a b c

**split**

- split is used to convert a string to list of elements

- by default it will split based on space

In [4]:
str1='hai how are you'
str1.split()

['hai', 'how', 'are', 'you']

In [6]:
str1='hai how,are you'
str1.split(',')

['hai how', 'are you']

In [8]:
str1='hai how,are you'
str1.split()

['hai', 'how,are', 'you']

In [9]:
str1='hello hai how are you'
str1.split('o')
# 'hell','hai h','w are y','u'

['hell', ' hai h', 'w are y', 'u']

**join**

In [11]:
str1='hai how are you'
l=str1.split()
l
' '.join(l)

'hai how are you'

In [13]:
str1='hai how,are you'
l=str1.split(',')
l
','.join(l)

'hai how,are you'

In [14]:
str1='hello hai how are you'
l=str1.split('o')
l
'o'.join(l)

'hello hai how are you'

In [1]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
 'isalnum'
 'isalpha'
 'isascii'
 'isdecimal'
 'isdigit'
 'isidentifier'
 'islower'
 'isnumeric'
 'isprintable'
 'isspace'
 'istitle'
 'isupper'

In [1]:
str1='naresh'
str1.isalnum()

True

In [2]:
str1='naresh'
str1.isalpha()

True

In [3]:
str1='naresh'
str1.isascii()

True

In [4]:
str1='naresh'
str1.isdecimal()

False

In [5]:
str1='naresh'
str1.isdigit()

False

In [6]:
str1='naresh'
str1.isidentifier()

True

In [7]:
str1='naresh'
str1.islower()

True

In [8]:
str1='naresh'
str1.isnumeric()

False

In [9]:
str1='naresh'
str1.isprintable()

True

In [10]:
str1='naresh'
str1.isspace()

False

In [11]:
str1='naresh'
str1.istitle()

False

In [12]:
str1='naresh'
str1.isupper()

False

In [4]:
# how to find a greatest number
try:
    num1=eval(input("Enter a number 1: "))
    num2=eval(input("Enter a number 2: "))
    if num1==num2:
        print(f"Both the number {num1} and {num2} are equal")
    elif num1>num2:
        print(f"{num1} is greater than {num2}")
    elif num1<num2:
        print(f"{num1} is lesser than {num2}")
except Exception as e:
    print(e)

Enter a number 1:  38
Enter a number 2:  67

38 is lesser than 67

In [6]:
# 'the telephone number is 123456'
# i want 123456
# idea: split
# when you split ==== list 

# iterate each letter apply isdigit if it is
# true then keep in empty string

str1='the telephone number is 123456'
num=''
for i in str1:
    if i.isdigit():
        num=num+i
print(num)

123456