In [ ]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
# 'Ramesh age is 20'
# 'Suresh age is 25'
# 'Sathish age is 30'

In [3]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i in range(len(names)):
    print(f'{name[i]} age is {age[i]}')

Ramesh age is 20
Suresh age is 25
Sathish age is 30

**zip**

In [1]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i,j in zip(names,age):
    print(i,j)
    print(f'{i} age is {j}')

Ramesh 20
Ramesh age is 20
Suresh 25
Suresh age is 25
Sathish 30
Sathish age is 30

In [2]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i,j in zip(names,age):
    print(j)

20
25
30

**Dictionart**

- in above example names and age both are together

- when both are together we can pair them

- This can happen using Dictionary

- Dictionary is calles as **key-value** pair

- it represents with curly braces : **{key:value}**

- Ramesh and 20 years both are pair : {'Ramesh':20}

In [1]:
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
d1

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [3]:
d2={20:'Ramesh',25:'Suresh',30:'Sathish'}
d2

{20: 'Ramesh', 25: 'Suresh', 30: 'Sathish'}

In [7]:
# start your imagination make a dictionary with many ways
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
d2={20:'Ramesh',25:'Suresh',30:'Sathish'}
d3={'Ramesh':'20','Suresh':'25','Sathish':'30'}
d4={'20':'Ramesh','25':'Suresh','30':'Sathish'}
d5={'Ramesh':20,'Ramesh':30}
# If both keys are same it will take the latest value
# Dictionarys kind database
d6={'Ramesh':20,'Ramesh':20}
# Dictionarys does not allow duplicates
d7={'Ramesh':20,'Suresh':20}
# In dictionary keys pays vital role
# keys can not be duplicate but values can be duplicate
d8={20:'Ramesh',20:'Suresh'}
d9={True:'true'}
d10={'fruits':['Apple','Banana']}  # list is value
# d11={['Apple','Banana']:'fruits'}  # list is key
d12={'fruits':('Apple','Banana')}  # list is value
d13={('Apple','Banana'):'fruits'}  # list is key
d14={'Fruits':{'Apple':20}}

In [ ]:
d10={'fruits':['Apple','Banana']}  # W
d11={'fruits':('Apple','Banana')}  # W
d12={['Apple','Banana']:'fruits'}  # Fail
d13={('Apple','Banana'):'fruits'}  # W

**list as keys fails because list has a mutable behaviour**

**tuple as keys works because tuple has a immutable behaviour**

**In dictionary keys are very important**

**keys does not change so when we apply list is failing**

- if both keys are same it will take the latest value

- Dictionarys does not allow duplicates

- in dictionary keys pays vital rols

- keys can not be duplicate but values can be duplicate

In [2]:
d14={'Fruits':{'Apple':20}}  # W
di5={{'Apple':20}:'Fruits'}  # Fail

TypeError: unhashable type: 'dict'

In [3]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict2={'Apple':20,'apple':30}
dict3={20:'Apple',30:'Banana',50:'Cherry'}
# apply min max sum sorted reversed

In [11]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict2={'Apple':20,'apple':30}
dict3={20:'Apple',30:'Banana',50:'Cherry'}
min(dict1),min(dict2),min(dict3)

('Apple', 'Apple', 20)

In [12]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict2={'Apple':20,'apple':30}
dict3={20:'Apple',30:'Banana',50:'Cherry'}
max(dict1),max(dict2),max(dict3)

('Cherry', 'apple', 50)

In [13]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
sum(dict1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [14]:
dict2={'Apple':20,'apple':30}
sum(dict2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
dict3={20:'Apple',30:'Banana',50:'Cherry'}
sum(dict3)

100

In [16]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict2={'Apple':20,'apple':30}
dict3={20:'Apple',30:'Banana',50:'Cherry'}
sorted(dict1),sorted(dict2),sorted(dict3)

(['Apple', 'Banana', 'Cherry'], ['Apple', 'apple'], [20, 30, 50])

In [9]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict2={'Apple':20,'apple':30,}
dict3={20:'Apple',30:'Banana',50:'Cherry'}
list(reversed(dict1)),list(reversed(dict2)),list(reversed(dict3))

(['Cherry', 'Banana', 'Apple'], ['apple', 'Apple'], [50, 30, 20])

In [17]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict2={'Apple':20,'apple':30}
dict3={20:'Apple',30:'Banana',50:'Cherry'}
len(dict1),len(dict2),len(dict3)

(3, 2, 3)

In [ ]:
dict1={'Apple':20,'Banana':30,'Cherry':10}
'Apple' in dict1 # T
20 in dict1  # F
'Apple':20 in dict1 # E

In [23]:
dict1={'Apple':20,'Banana':30,'Cherry':10}
'Apple' in dict1
'Banana' in dict1
'Cherry' in dict1

# i in dict1

In [5]:
dict1={'Apple':20,'Banana':30,'Cherry':10}
for i in dict1:
    print(i)

Apple
Banana
Cherry

**index**

In [19]:
l1=[10,20,30]
l1[0]

10

In [20]:
str1='python'
str1[0]

'p'

In [21]:
dict1={'Apple':20,'Banana':30,'Cherry':10}
dict1[0]

# 'Apple':20 in dict1

KeyError: 0

**how to extract the values**

- in dictionary we have a concept key:value pair

- keys are very important

- in order to get the values we need to take keys help

In [24]:
dict1={'Apple':20,'Banana':30,'Cherry':10}
dict1['Apple']
dict1['Banana']
dict1['Cherry']

# dict1[i]

In [22]:
dict1={'Apple':20,'Banana':30,'Cherry':10}
for i in dict1:
    print(i,dict1[i])

Apple 20
Banana 30
Cherry 10

In [13]:
# names=['Ramesh','Suresh','Sathish']
# age=[20,25,30]
# 'Ramesh age is 20'
# 'Suresh age is 25'
# 'Sathish age is 30'


names={'Ramesh':20,'Suresh':25,'Sathish':30}
for key in names:
    value=names[key]
    print(f'{key} age is {value}')

Ramesh age is 20
Suresh age is 25
Sathish age is 30

In [ ]:
# range means only numbers will come
# number is not useful its pair

In [26]:
d={'Fruits':['Apple','Banana','Cherry']}
# get cherry
d['Fruits'][2]

'Cherry'

In [29]:
d={'Fruits':{'Apple':['sweet','sour','green']}}
d
# identify how many key-value pairs
d['Fruits']  # dictionary
d['Fruits']['Apple']  # list
d['Fruits']['Apple'][2]

'green'

In [30]:
d={'Fruits':[{'Cost':[50]}]}
d['Fruits']  # list
d['Fruits'][0]  # dict
d['Fruits'][0]['Cost'] # list
d['Fruits'][0]['Cost'][0]

50

In [16]:
d={'Fruits':['Apple'],'Cost':[{'1kg':[20,30,40],'2kg':None}]}
d['Cost'][0]['2kg']
d['Cost'][0]['1kg'][2]

40

In [8]:
d={'Fruits':{'Orange':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d['Fruits']['Orange']['Nagpur']['MH']['King']['Shivaji']

{'Shambaji'}

**how to create an empty dictionary**

- Now onwards focus on creation of empty list , strings and dictionary

- we will take empty list will use append operation

- we will take empty string will use concatenation

- we will take empty dictionary will use key:value pair concept

In [17]:
# list
l=[]
l.append(10)
l.append(20)
l

[10, 20]

In [18]:
# strings
s=''
s=s+'p'  # ''+'p'
s=s+'y'  # 'p'+'y'='py'
s

'py'

In [19]:
# dictionary
d={}
d['Ramesh']=20
d['Suresh']=25
d['Sathish']=30
d

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [ ]:
# dictionary
d={}
d['Ramesh']=20
d['Suresh']=25
d['Sathish']=30
# d[key]=value
# d[i]=j

**how to convert list to dictionary**

In [20]:
names=['Ramesh','Suresh','Sathish']  # i
age=[20,25,30]  # j
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

**dictionary comprehension**

- for list comprehension we written everything inside list

- for dictt comprehension we should write everything inside dictionary

In [ ]:
# list comprehension: [<output> <forloop>]
# t comprehension: [<output> <forloop>]

In [31]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
{i:j for i,j in zip(names,age)}

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

**mutable-immutable**

- lists are mutable

- dictionarys are also mutable

- Strings are immutable

- tuple are immutable

- in dictionarys we can change the values using keys

In [32]:
d={'Ramesh':20,'Suresh':25,'Sathish':30}
d['Ramesh']=30
d

{'Ramesh': 30, 'Suresh': 25, 'Sathish': 30}

**methods**

In [33]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

- clear

- copy

- keys

- values

- items

In [34]:
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
print('d1 before clear i should see the output:',d1)
d1.clear()
print('d1 after apply clear method empty dictionary:',d1)

d1 before clear i should see the output: {'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
d1 after apply clear method empty dictionary: {}

In [35]:
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
d2=d1.copy() 
print(d1)
print(d2)

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}
{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [4]:
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
d1.values()

dict_values([20, 25, 30])

In [5]:
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
d1.items()

dict_items([('Ramesh', 20), ('Suresh', 25), ('Sathish', 30)])

**keys**

In [2]:
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
keys=d1.keys()
keys

dict_keys(['Ramesh', 'Suresh', 'Sathish'])

In [4]:
type(keys)

dict_keys

In [3]:
# i got mistaken im assuming this is list type
keys.count('Ramesh')

AttributeError: 'dict_keys' object has no attribute 'count'

**Convert dictionary to list**

- in order to convert dictionary to list

- first we need to separate keys and values

- then apply list type casting

In [9]:
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
keys=d1.keys()
keys_list=list(keys)
keys_list

['Ramesh', 'Suresh', 'Sathish']

In [10]:
d={'Ramesh':20,'Suresh':25,'Sathish':30}
values=d.values()
values_list=list(values)
values_list

[20, 25, 30]

In [11]:
d={'Ramesh':20,'Suresh':25,'Sathish':30}
items=d.items()
items_list=list(items)
items_list

[('Ramesh', 20), ('Suresh', 25), ('Sathish', 30)]

In [12]:
type(keys_list),type(keys)

(list, dict_keys)

In [13]:
keys_list.count('Ramesh')

1

In [ ]:
list ==== string  using join
string ==== list  using split
list ==== dict    zip
dict ==== list    typecasting

In [15]:
# input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
# output={'Firstname':['virat','rohit','ms'],
#         'Secondname':['kohli','sharma','dhoni'],
#         'cname':['rcb','mi','csk']}

# idea : first convert string to list
#        from there extract 3 lists
#        1) fname  2) sname  3) cname
#        from 3 lists create dictionary


input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
l1=input.split(';')
##################################################
fname,sname,cname=[],[],[]
d={}
for i in l1:
    first_dot=i.index('.')
    second_dot=i.index('.',first_dot+1)
    at_the_rate=i.index('@')
    fname.append(i[:first_dot])
    sname.append(i[first_dot+1:at_the_rate])
    cname.append(i[at_the_rate+1:second_dot])
##################################################
d['Fname']=fname
d['Sname']=sname
d['Cname']=cname
d

{'Fname': ['virat', 'rohit', 'ms'],
 'Sname': ['kohli', 'sharma', 'dhoni'],
 'Cname': ['rcb', 'mi', 'csk']}

- pop

- popitem

In [10]:
d={'Ramesh':20,'Suresh':25,'Sathish':30}
d.pop('Ramesh')

20

In [11]:
d

{'Suresh': 25, 'Sathish': 30}

In [12]:
l1=['Ramesh','Suresh','Sathish']
l1.remove('Ramesh')
l1

['Suresh', 'Sathish']

In [16]:
d={'Ramesh':20,'Suresh':25,'Sathish':30}
d.popitem()

('Sathish', 30)

In [17]:
d

{'Ramesh': 20, 'Suresh': 25}

In [18]:
l1=['Ramesh','Suresh','Sathish']
l1.pop()
l1

['Ramesh', 'Suresh']

- **pop** in dictionary, similar analogy **remove** in list

- **pop item** in dictionary, similar analogy **pop** in list

**get**

In [16]:
d={'Ramesh':20,'Suresh':25,'Sathish':30}
d.get('Ramesh')

20

In [17]:
d['Ramesh']  # key as an index

20

**update**

- update is similar analogy **list extend**

- take two dictionarys and apply update method

In [19]:
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
d2={'Manish':20,'Mahesh':25,'Sareshh':30}
d1.update(d2)
d1

{'Ramesh': 20,
 'Suresh': 25,
 'Sathish': 30,
 'Manish': 20,
 'Mahesh': 25,
 'Sareshh': 30}

In [20]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]
l1.extend(l2)
l1

['Ramesh', 'Suresh', 'Sathish', 20, 30, 40]

- **update in dictionary**, similar analogy **list extend**

**setdefault**

- suppose an already existed dictionary available

- we can update the dictionary with new key:value pair

In [19]:
d1={'Ramesh':20,'Suresh':25,'Sathish':30}
d1.setdefault('Manish')
d1.setdefault('Mahesh',35)
d1

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30, 'Manish': None, 'Mahesh': 35}

- **setdefault** in dictionary, similar analogy **list append**

- always remember dictionary is a key:value pair concept

- it never involves index operations

- thats why we dont have any index or find methods

- we have get method to extract values using key

**fromkeys**

- create a dictionary with different keys but same value

- fromkeys will take an argument **iterable**

- try to provide an iterator i.e string,list,tuple

In [21]:
d={}
names=['Ramesh','Suresh','Sathish']
d.fromkeys(names,'NareshIT')

{'Ramesh': 'NareshIT', 'Suresh': 'NareshIT', 'Sathish': 'NareshIT'}

In [22]:
d={}
d.fromkeys('python')

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

- **pop** in dictionary, similar analogy **remove** in list

- **pop item** in dictionary, similar analogy **pop** in list

- **update in dictionary**, similar analogy **list extend**

- **setdefault** in dictionary, similar analogy **list append**

- **get** in dictionary, similar analogy **list index**

- list has count, string has count and tuple also has count

    - but dictionarys does not have **count**

    - because dictionary does not allow **duplicates**

- string has find but list does not have