- Basic representations

- inbuilt functions

    - type

    - print

    - min

    - max

    - len

    - sum

    - reversed

    - sorted

    - concatenation

    - index

    - in 

    - difference between index and in

    - mutable vs immutable

    - slice

    - Methods

**Basic Representation**

- Strings elements is in quotes

- List elements is in square brackets

- Tuple elements is in parentheses

- sets elements is in curly braces

In [7]:
set1={10,20,30,40,50}
set1

{10, 20, 30, 40, 50}

In [8]:
type(set1)
# for strings ===== str
# we will say strings ===== but type is str
# we will say list ===== type also list
# we will say tuple ===== type also tuple
# we will say set ===== type also set

set

In [4]:
set2={'A','B','C'}
set2

{'A', 'B', 'C'}

In [9]:
set3={10,20,30,40,50,'A','B','C'}
set3

{10, 20, 30, 40, 50, 'A', 'B', 'C'}

In [10]:
set4={10,20,30,40,50,'Apple','Banana','Cherry',True,False,10.5,20+30j}
set4

{(20+30j), 10, 10.5, 20, 30, 40, 50, 'Apple', 'Banana', 'Cherry', False, True}

In [11]:
set1=(10,20,30,40,50,75)
len(set1)

6

In [12]:
set2=('Apple','apple','Cherry','banana')
len(set2)

4

In [13]:
set3={10,20,30,40,50,75,'Apple','apple','Cherry','banana'}
len(set3)

10

In [14]:
set1={10,20,30,40,50,75}
set2=('Apple','APple','Cherry','banana')
#       65,112   65,80     67       98
min(set1),min(set2)

(10, 'APple')

In [16]:
set3={10,20,30,40,50,75,'Apple','apple','Cherry','banana'}
min(set3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [1]:
set1={10,20,30,40,50,75}
set2={'Apple','apple','Cherry','banana'}
set3={10,20,2,50,75,'Apple','apple','Cherry','banana'}
max(set1),max(set2)
# max(tuple3)

(75, 'banana')

In [19]:
set1=(10,20,30,40,50,75)
sum(set1)

225

In [20]:
set2=('Apple','apple','Cherry','banana')
sum(set2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [1]:
set1={10,20,30,40,50,75}
sorted(set1)

[10, 20, 30, 40, 50, 75]

In [22]:
set2={'Apple','apple','Cherry','banana'}
sorted(set2)

['Apple', 'Cherry', 'apple', 'banana']

In [23]:
set3={10,20,30,40,50,75,'Apple','apple','Cherry','banana'}
sorted(set3)  # fail

TypeError: '<' not supported between instances of 'str' and 'int'

In [24]:
sorted(set1),sorted(set1,reverse=True)

([10, 20, 30, 40, 50, 75], [75, 50, 40, 30, 20, 10])

In [2]:
set1={10,20,30,40,50,75}
list(reversed(set1))

TypeError: 'set' object is not reversible

- sets are unordered, so cannot directly reversed a set

In [8]:
set1={10,20,30,40,50,75}
l1=list(reversed(list(set1)))
l1

[30, 75, 10, 40, 20, 50]

**Concatenation**

In [31]:
set1=(10,20,30,40)
set2=('A','B','C','D')
set1+set2

(10, 20, 30, 40, 'A', 'B', 'C', 'D')

In [32]:
print('python'*2)
print('python'+'python')

pythonpython
pythonpython

In [33]:
print(set1+set1)
print(set1*2)

(10, 20, 30, 40, 10, 20, 30, 40)
(10, 20, 30, 40, 10, 20, 30, 40)

In [ ]:
set1*set1  # Fail different error
set1-set1  # Fail unsupported operand
set1/set1  # Fail unsupported operand

**in**

In [38]:
'p' in str1
'p' in list1
'p' in tuple1
'p' in set1

for i  in set1:
    print(i)

p
o
y
h
n
t

In [10]:
set1={10,20,30,40,50,75}
for i in set1:
    print(i)

50
20
40
10
75
30

**mutable vs immutable**

In [11]:
set1={100,200,300,400}
set1[0]=20
set1

TypeError: 'set' object does not support item assignment

In [12]:
set1={100,200,300,400}
set1.add(20)
set1

{20, 100, 200, 300, 400}

**sets are mutable**

**slice**

In [40]:
s1={10,20,30,40,50,'A','B','C','D','E','apple','banana'}
s1[:]

TypeError: 'set' object is not subscriptable

- slice is not supported in sets, so convert set into list,tuple

In [13]:
s1=(10,20,30,40,50,'A','B','C','D','E','apple','banana')
l1=list(s1)
l1[::]

[10, 20, 30, 40, 50, 'A', 'B', 'C', 'D', 'E', 'apple', 'banana']

**methods**

- if we wants to know the sets method

In [36]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
 'clear'
 'copy'
 'fromkeys'
 'get'
 'items'
 'keys'
 'pop'
 'popitem'
 'setdefault'
 'update'
 'values'

- clear

- copy

- keys

- values

- items

In [42]:
s1={10,20,30,40,'A','B','C','D'}
print('s1 before clear i should see the output:',s1)
s1.clear()
print('s1 after apply clear method empty set:',s1)

s1 before clear i should see the output: {'B', 40, 10, 'D', 20, 'C', 'A', 30}
s1 after apply clear method empty set: set()

In [46]:
s1={10,20,30,40,'A','B','C','D'}
s2=s1.copy() 
print(s1)
print(s2)

{'B', 40, 10, 'D', 20, 'C', 'A', 30}
{'B', 40, 10, 'D', 20, 'C', 'A', 30}

In [18]:
s1={10,20,30,40,'A','B','C','D'}
s1.pop()

'C'

In [19]:
s1

{10, 20, 30, 40, 'A', 'B', 'D'}

In [23]:
s1={10,20,30,40,'A','B','C','D'}
s2={'Apple','banana'}
s1.update(s2)
s1

{10, 20, 30, 40, 'A', 'Apple', 'B', 'C', 'D', 'banana'}