## Data Type

- integer :int

- float

- string

- list

- tuple

- set

    - frozen set

- dictionary

- bool

- complex

- range

- byte

- byte array

- memory view

- None type

- myth
    - only 14-15 data type available

$integer$

In [1]:
number=100
number

100

In [2]:
type(number)

int

**number system**

- Binary number system

- Decimal number system

- octal number system

- Hexa number system

In [1]:
9*9
5*5
81*25

2025

In [2]:
40*40+20*20+5*5

2025

In [3]:
sum([i**3 for i in range(1,10)])

2025

**Binary number system**
- it is denoted with **0b** or **0B**

- Binary means two

- we have generally 0 to 9 digits available

- binary means only twi digits allowed : 0 and 1

- ex : 0b101b1110b000

- not valid : 0b1230B100012

In [5]:
0b111,0b101

(7, 5)

In [3]:
0b11101

29

In [ ]:
2^2    2^1    2^0
4       2       1
##############################
0       0       0       0
0       0       1       1
0       1       0       2
0       1       1       3
1       0       0       4
1       0       1       5         
1       1       0       6
1       1       1       7

In [ ]:
2^3    2^2     2^1     2^0
8       4       2       1  
######################################
0       0       0       0       0
0       0       0       1       1
0       0       1       0       2
0       0       1       1       3
0       1       0       0       4
0       1       0       1       5
0       1       1       0       6
0       1       1       1       7
1       0       0       0       8
1       0       0       1       9
1       0       1       0       10
1       0       1       1       11
1       1       0       0       12       
1       1       0       1       13
1       1       1       0       14
1       1       1       1       15

**octal number system**

- it is denoted with **0o** or **0O**

- octal means 8

- we have generally 0 to 9 digital available

- octal means only twi digits allowed:0 1 2 3 4 5 6 7

- ex: 0o567,0o111,0o001,0o672

- not valid : 0o768,0o169

In [5]:
0o123

83

**hexa number system**

- it is denoted with 0x or 0X

- hexa means 16

- we have generally 0 to 9 digits available 

- hexa means only twi digits allowed:0 to 9,A tO F

- A:10 B:11 C:12 D:13 E:14 F:15

- ex:0xabc 0XA1

- not valid:0xefg

In [1]:
0xabc

2748

**2025**

- Binary

In [2]:
0b11111101001

2025

- Octal

In [3]:
0o3751

2025

- hexa

In [4]:
0X7E9

2025

**float**

In [5]:
number=10.5
type(number)

float

**e representation**

In [6]:
1e1

10.0

In [6]:
1e2

100.0

In [7]:
1e3  # 1*1000

1000.0

In [8]:
2e4  # 2*10000

20000.0

In [ ]:
1e1  # 1*10=10
1e2  # 1*100=100
2e3  # 2*1000=2000
4e4  # 4*10000=40000

In [10]:
print(1e-1)  #1/10=0.1
print(1e-2)  #1/100=0.01
print(2e-3)  #2/1000=0.002
print(4e-4)  #4/10000=0.0004

0.1
0.01
0.002
0.0004

In [ ]:
# integer data type
# float data type

**boolean**

In [9]:
val=True
val

True

In [10]:
type(val)

bool

In [11]:
val1=False
type(val1)

bool

**String**

- English format representation

- strings represent with quotes

- we can use single quotes, double quotes also triple quotes

In [12]:
name='python'
name

'python'

In [13]:
type(name)

str

In [14]:
print(name)
# when we print we will not able to see the quotes

python

In [15]:
val='10'
type(val)

str

In [16]:
val1=10
type(val1)

int

In [17]:
name="naresh it"
name
# but the output displayed as single quotes

'naresh it'

In [18]:
type(name)

str

In [19]:
print(name)

naresh it

In [20]:
str1="i love 'python'"
print(str1)

i love 'python'

In [21]:
str1='i love "python"'
print(str1)

i love "python"

- keep entire string in Double quotes then highlite the word with single quote vice versa

**triple quotes**

- triple quotes can not use in coding part 

- triple quotes means conveying the information

- this is process is called as **Doc string**

- in jupyter notebook we have markdown option

- but in vscode or pycharm there is no markdown option 

- so user will convey the information by providing triple quotes

In [ ]:
"""hai
today im learning python
its easy"""

In [ ]:
true=True   #  W
true='True' #  W
true=10.5   #  W
True=10     #  F
True=True   #  F

In [1]:
True=10

SyntaxError: cannot assign to True (2941772833.py, line 1)

In [2]:
True=True

SyntaxError: cannot assign to True (2826156406.py, line 1)